:root {
  --border-radius: 4px;
  --color-text: #333;
  --color-primary: blue;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --font-sans: Acumin Pro Wide,sans-serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 40px;
  --space-6: 64px;
  --size-content: 1440px;
 /* --size-gutter: var(--space-5);*/
  --size-gap: var(--space-6);
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
 /* background:#E0ECE9;*/
}
a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
p {
  max-width: 680px;
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}
.container{
  padding: var(--space-4) var(--size-gutter)
}

.nav--main{
  justify-content: space-between;
  flex:2
}



.menu--wrapper{
  justify-content:  flex-start;
  align-items: flex-start;
  display: flex;
  }

.card {min-height:500px}
#oferta{position:relative;}
#oferta::before{content: "";display:none}
@media screen and ( min-width:1024px) {
  #oferta::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 58px;
    Padding: 32.5px 32px 32.5px 32px;
    width:185px;
    height:83px;
    border:black solid 1px;
    border-radius:72px;
  
  /* Inside auto layout */
  
  }
}

/* Testimonials */
.testimonial-slide p {
  max-width:100%;
}
.swiper-button-next{
  bottom:0px!important;
  top:90%!important;
  z-index:50;
  width:40px!important;
  height:40px!important;


}
.swiper-button-prev{
  bottom:0px!important;
  top:90%!important;
  left:90%!important;
  z-index:50;
  width:40px!important;
  height:40px!important;
  margin-right:30px;

}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  z-index:-10;
}
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  text-align: left!important;
}
.swiper-pagination-bullet-active{
  background-color: black!important;
}
.swiper-pagination-clickable .swiper-pagination-bullet{border:1px solid black!important;background:transparent;opacity:1}
.swiper-button-prev::after{ 

  top: 50%;
  left: 50%;
  border: solid black 2px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position:center;
  background-repeat:no-repeat;
  content:''!important;
  border-radius:50%;
  background-image:url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.334 10.0002H3.33398" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/><path d="M7.22266 15.0002C7.22266 12.2388 4.98408 10.0002 2.22266 10.0002" stroke="black" stroke-width="1.5" stroke-miterlimit="10"/><path d="M7.22266 5.00024C7.22266 7.76167 4.98408 10.0002 2.22266 10.0002" stroke="black" stroke-width="1.5" stroke-miterlimit="10"/></svg>')!important}
/* Styles for next navigation arrow */
.swiper-button-next::after {
  top: 50%;
  left: 50%;
  border: solid black 2px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position:center;
  background-repeat:no-repeat;
  content:''!important;
  border-radius:50%;
  background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.22266 10.0002H17.2227" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/><path d="M13.334 15.0002C13.334 12.2388 15.5726 10.0002 18.334 10.0002" stroke="black" stroke-width="1.5" stroke-miterlimit="10"/><path d="M13.334 5.00024C13.334 7.76167 15.5726 10.0002 18.334 10.0002" stroke="black" stroke-width="1.5" stroke-miterlimit="10"/></svg>')!important;
}
.empty-element{
  display:none;
}
@media screen and (min-width: 800px) {
  

.empty-element {
  display:block;
  width: 100%;
  height: 100%;
  padding-bottom: 100%; 
 
  /* Maintain the aspect ratio of the empty element */
}}

.decoration-element{
  background-size:cover;
  background-repeat:no-repeat;
}